
<ion-tabs class="tabs-icon-top tabs-color-active-assertive">

  <!-- Dashboard Tab -->
  <ion-tab title="HOME" icon-off="ion-ios-home-outline" icon-on="ion-ios-home-outline" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="FOTOS" icon-off="ion-images" icon-on="ion-images" href="#/tab/fotos">
    <ion-nav-view name="tab-fotos"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="MUSICAS" icon-off="ion-ios-musical-notes" icon-on="ion-ios-musical-notes" href="#/tab/musicas">
    <ion-nav-view name="tab-musicas"></ion-nav-view>
  </ion-tab>

</ion-tabs>
